# ¿Cuáles son las principales características que llevan a que se ROBEN UNA MOTO O UN VEHÍCULO? 
## Seguro está en los datos

### Data processing step

Let's load all the dataset:

In [1]:
import numpy as np
import pandas as pd
import requests
import json

url = 'https://cali.ckan.io/api/3/action/datastore_search?resource_id=c4ff4b8d-9638-4a9e-b0c4-cc96fb3674c8&q={"municipio":"cali"}'
JSONContent = requests.get(url).json()

Finding the column names and the records:

In [2]:
fields = JSONContent['result']['fields']
features = list(map(lambda field: field['id'], fields))
print('Column names: \n', features)

Column names:
 ['_id', 'fecha', 'departamento', 'municipio', 'dia_semana', 'hora', 'barrio', 'zona', 'clase_sitio', 'arma_empleada', 'movil_agresor', 'movil_victima', 'edad', 'sexo', 'estado_civil', 'pais_nacimiento', 'clase_empleado', 'profesion', 'escolaridad', 'codigo_dane', 'cantidad', 'delito_sexual', 'anio', 'mes', 'utc_datetime', 'dept_code_dane', 'muni_code_dane', 'code_dane']

In [3]:
def getDataframe(array, columnNames):
    df = pd.DataFrame()
    for column in columnNames:
        df[column]=list(map(lambda record: record[column], array))
    return df

In [4]:
records = JSONContent['result']['records']
df = getDataframe(records, features)
tamanio = len(df)
df.head()

,_id,fecha,departamento,municipio,dia_semana,hora,barrio,zona,clase_sitio,arma_empleada,...,escolaridad,codigo_dane,cantidad,delito_sexual,anio,mes,utc_datetime,dept_code_dane,muni_code_dane,code_dane
0,260,2019-01-01,VALLE DEL CAUCA,CALI,Martes,07:00:00,CHARCO AZUL E13,URBANA,DENTRO DE LA VIVIENDA,ESCOPOLAMINA,...,SECUNDARIA,76001000,1,ARTÍCULO 205. ACCESO CARNAL VIOLENTO,2019,Enero,2019-01-01T07:00:00Z,76,76001,76-76001
1,261,2019-01-01,VALLE DEL CAUCA,CALI,Martes,20:30:00,ALTO JORDAN E18,URBANA,VIAS PUBLICAS,CONTUNDENTES,...,SECUNDARIA,76001000,1,ARTÍCULO 205. ACCESO CARNAL VIOLENTO,2019,Enero,2019-01-01T20:30:00Z,76,76001,76-76001
2,262,2019-01-01,VALLE DEL CAUCA,CALI,Martes,08:00:00,CGTO LOS ANDES E19,RURAL,VIAS PUBLICAS,CONTUNDENTES,...,SECUNDARIA,76001000,1,ARTÍCULO 206. ACTO SEXUAL VIOLENTO,2019,Enero,2019-01-01T08:00:00Z,76,76001,76-76001
3,263,2019-01-01,VALLE DEL CAUCA,CALI,Martes,13:00:00,MARIANO RAMOS E16,URBANA,CASAS DE HABITACION,CONTUNDENTES,...,SECUNDARIA,76001000,1,ARTÍCULO 206. ACTO SEXUAL VIOLENTO,2019,Enero,2019-01-01T13:00:00Z,76,76001,76-76001
4,264,2019-01-01,VALLE DEL CAUCA,CALI,Martes,10:00:00,CIUDADELA FLORALIA E6,URBANA,CASAS DE HABITACION,SIN EMPLEO DE ARMAS,...,SECUNDARIA,76001000,1,ARTÍCULO 208. ACCESO CARNAL ABUSIVO CON MENOR ...,2019,Enero,2019-01-01T10:00:00Z,76,76001,76-76001

Due to there are only 100 records, let's proceed to iterate to find the other ones

In [5]:
baseURL='https://cali.ckan.io'
links=JSONContent['result']['_links']
while(tamanio > 0):
    nextURL=JSONContent['result']['_links']['next']
    url = f"{baseURL}{nextURL}"
    JSONContent = requests.get(url).json()
    records = JSONContent['result']['records']
    new_df = getDataframe(records, features)
    tamanio = len(new_df)
    print('TAMANIO:', len(df))
    df = pd.concat([df, new_df])

TAMANIO: 100
TAMANIO: 200
TAMANIO: 300
TAMANIO: 400
TAMANIO: 500
TAMANIO: 600
TAMANIO: 700
TAMANIO: 800
TAMANIO: 900
TAMANIO: 1000
TAMANIO: 1100
TAMANIO: 1200
TAMANIO: 1300
TAMANIO: 1400
TAMANIO: 1500
TAMANIO: 1600
TAMANIO: 1700
TAMANIO: 1800
TAMANIO: 1900
TAMANIO: 2000
TAMANIO: 2100
TAMANIO: 2200
TAMANIO: 2300
TAMANIO: 2400
TAMANIO: 2500
TAMANIO: 2600
TAMANIO: 2700
TAMANIO: 2800
TAMANIO: 2900
TAMANIO: 3000
TAMANIO: 3100
TAMANIO: 3200
TAMANIO: 3300
TAMANIO: 3400
TAMANIO: 3500
TAMANIO: 3600
TAMANIO: 3700
TAMANIO: 3800
TAMANIO: 3900
TAMANIO: 4000
TAMANIO: 4100
TAMANIO: 4200
TAMANIO: 4300
TAMANIO: 4400
TAMANIO: 4500
TAMANIO: 4600
TAMANIO: 4700
TAMANIO: 4800
TAMANIO: 4900
TAMANIO: 5000
TAMANIO: 5100
TAMANIO: 5200
TAMANIO: 5300
TAMANIO: 5400
TAMANIO: 5500
TAMANIO: 5600
TAMANIO: 5700
TAMANIO: 5800
TAMANIO: 5900
TAMANIO: 6000
TAMANIO: 6100
TAMANIO: 6200
TAMANIO: 6300
TAMANIO: 6400
TAMANIO: 6500
TAMANIO: 6600
TAMANIO: 6700
TAMANIO: 6800
TAMANIO: 6900
TAMANIO: 7000
TAMANIO: 7100
TAMANIO: 7200
TAMANIO: 7300
TAMANIO: 7400
TAMANIO: 7500
TAMANIO: 7600
TAMANIO: 7700
TAMANIO: 7800
TAMANIO: 7900
TAMANIO: 8000
TAMANIO: 8100
TAMANIO: 8200
TAMANIO: 8300
TAMANIO: 8400
TAMANIO: 8500
TAMANIO: 8600
TAMANIO: 8700
TAMANIO: 8800
TAMANIO: 8900
TAMANIO: 9000
TAMANIO: 9100
TAMANIO: 9200
TAMANIO: 9300
TAMANIO: 9400
TAMANIO: 9500
TAMANIO: 9600
TAMANIO: 9700
TAMANIO: 9800
TAMANIO: 9900
TAMANIO: 10000
TAMANIO: 10100
TAMANIO: 10200
TAMANIO: 10300
TAMANIO: 10400
TAMANIO: 10500
TAMANIO: 10509

### Data exploration

Let's explore de data:

In [6]:
fields = JSONContent['result']['fields']
df_info =  pd.DataFrame()
df_info['type'] = list(map(lambda field: field['type'], fields))
df_info['id'] = list(map(lambda field: field['id'], fields))
df_info['label'] = list(map(lambda field: field['info']['label'] if 'info' in field else '', fields))
df_info['note'] = list(map(lambda field: field['info']['notes'] if 'info' in field else '', fields))
df_info

,type,id,label,note
0,int,_id,,
1,text,fecha,fecha,Fecha en la cual se registra el delito [año-me...
2,text,departamento,departamento,Departamento en el cual ocurrió el delito
3,text,municipio,municipio,Municipio en el cual ocurrió el delito
4,text,dia_semana,dia_semana,Día de la semana en la cual ocurrió el delito ...
5,text,hora,hora,Hora en la cual ocurrió el delito [00-24]
6,text,barrio,barrio,Barrio en el cual ocurrió el delito
7,text,zona,zona,"Zona en el cual ocurrió el delito [rural, urbana]"
8,text,clase_sitio,clase_sitio,Clase de sitio donde ocurrió el delito
9,text,arma_empleada,arma_empleada,Arma empleada para cometer el delito
10,text,movil_agresor,movil_agresor,Móvil del agresor para cometer el delito
11,text,movil_victima,movil_victima,Móvil de la víctima cuando se registra el delito
12,text,edad,edad,Edad de la víctima
13,text,sexo,sexo,Sexo de la víctima
14,text,estado_civil,estado_civil,Estado civil de la víctima
15,text,pais_nacimiento,pais_nacimiento,País de nacimiento de la víctima
16,text,clase_empleado,clase_empleado,Tipo de empleo de la víctima
17,text,profesion,profesion,Profesión de la víctima
18,text,escolaridad,escolaridad,Escolaridad de la víctima
19,text,codigo_dane,codigo_dane,Código DANE que corresponde al Departamento - ...
20,text,cantidad,cantidad,Cantidad de afectados
21,text,delito_sexual,delito_sexual,Categoría del delito sexual cometido
22,text,anio,anio,Año en el cual ocurrió el delito
23,text,mes,mes,Mes en el cual ocurrió el delito
24,text,utc_datetime,utc_datetime,Fecha y Hora en formato UTC ISO 8601
25,text,dept_code_dane,dept_code_dane,Código DANE para el Departamento
26,text,muni_code_dane,muni_code_dane,Código DANE para el Municipio
27,text,code_dane,code_dane,Código DANE para Departamento-Municipio

In [7]:
df.describe(include=np.object)

,fecha,departamento,municipio,dia_semana,hora,barrio,zona,clase_sitio,arma_empleada,movil_agresor,...,escolaridad,codigo_dane,cantidad,delito_sexual,anio,mes,utc_datetime,dept_code_dane,muni_code_dane,code_dane
count,10509,10509,10509,10509,10509,10509,10509,10509,10509,10509,...,10509,10509,10509,10509,10509,10509,10509,10509,10509,10509
unique,3194,1,1,7,602,455,2,104,13,12,...,8,1,3,22,10,12,9502,1,1,1
top,2018-06-15,VALLE DEL CAUCA,CALI,Lunes,00:00:00,CGTO LA LEONERA E1,URBANA,VIAS PUBLICAS,SIN EMPLEO DE ARMAS,A PIE,...,PRIMARIA,76001000,1,-,2019,Mayo,2014-05-21T00:00:00Z,76,76001,76-76001
freq,15,10509,10509,1615,1119,270,10189,4286,5017,10291,...,4557,10509,10457,4798,1885,1029,9,10509,10509,10509

In [8]:
df["anio"].value_counts()

2019    1885
2018    1420
2017    1417
2016    1293
2015     980
2013     854
2014     801
2011     668
2012     629
2010     562
Name: anio, dtype: int64