# ¿Cuáles son las principales características que llevan a que se ROBEN UNA MOTO O UN VEHÍCULO? 
## Seguro está en los datos

### Data processing step

Let's load all the dataset:

In [23]:
import numpy as np
import pandas as pd
import requests
import json

url = 'https://cali.ckan.io/api/3/action/datastore_search?resource_id=92955ffa-d60e-4cdc-9776-5052a05f1d91&q={"municipio":"cali"}'
JSONContent = requests.get(url).json()

Finding the column names and the records:

In [24]:
fields = JSONContent['result']['fields']
features = list(map(lambda field: field['id'], fields))
print('Column names: \n', features)

Column names:
 ['_id', 'fecha', 'departamento', 'municipio', 'dia_semana', 'hora', 'barrio', 'zona', 'clase_sitio', 'arma_empleada', 'movil_agresor', 'movil_victima', 'edad', 'sexo', 'estado_civil', 'pais_nacimiento', 'clase_empleado', 'profesion', 'escolaridad', 'codigo_dane', 'clase', 'marca', 'linea', 'modelo', 'color', 'cantidad', 'anio', 'mes', 'utc_datetime', 'dept_code_dane', 'muni_code_dane', 'code_dane']

In [25]:
def getDataframe(array, columnNames):
    df = pd.DataFrame()
    for column in columnNames:
        df[column]=list(map(lambda record: record[column], array))
    return df

In [26]:
records = JSONContent['result']['records']
df = getDataframe(records, features)
tamanio = len(df)
df.head()

,_id,fecha,departamento,municipio,dia_semana,hora,barrio,zona,clase_sitio,arma_empleada,...,linea,modelo,color,cantidad,anio,mes,utc_datetime,dept_code_dane,muni_code_dane,code_dane
0,86,2019-01-01,VALLE DEL CAUCA,CALI,Martes,06:00:00,NUEVA FLORESTA E12,URBANA,VIAS PUBLICAS,LLAVE MAESTRA,...,T115,2014,AZUL,1,2019,Enero,2019-01-01T06:00:00,76,76001,76-76001
1,87,2019-01-01,VALLE DEL CAUCA,CALI,Martes,07:00:00,ANTONIO NARIÑO E16,URBANA,VIAS PUBLICAS,LLAVE MAESTRA,...,WBK 110,2010,ROJO,1,2019,Enero,2019-01-01T07:00:00,76,76001,76-76001
2,88,2019-01-01,VALLE DEL CAUCA,CALI,Martes,07:00:00,VALLADO E15,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,...,ECO DELUXE,2018,NEGRO,1,2019,Enero,2019-01-01T07:00:00,76,76001,76-76001
3,89,2019-01-01,VALLE DEL CAUCA,CALI,Martes,22:30:00,VILLA DEL PRADO - EL GUABITO E5,URBANA,VIAS PUBLICAS,LLAVE MAESTRA,...,AK125 NKDR,2014,NEGRO,1,2019,Enero,2019-01-01T22:30:00,76,76001,76-76001
4,144,2019-01-02,VALLE DEL CAUCA,CALI,Miércoles,20:00:00,LOS NARANJOS I E14,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,...,AK125 NKDR,2019,NEGRO,1,2019,Enero,2019-01-02T20:00:00,76,76001,76-76001

Due to there are only 100 records, let's proceed to iterate to find the other ones

In [27]:
baseURL='https://cali.ckan.io'
links=JSONContent['result']['_links']
while(tamanio > 0):
    nextURL=JSONContent['result']['_links']['next']
    url = f"{baseURL}{nextURL}"
    JSONContent = requests.get(url).json()
    records = JSONContent['result']['records']
    new_df = getDataframe(records, features)
    tamanio = len(new_df)
    print('TAMANIO:', len(df))
    df = pd.concat([df, new_df])

TAMANIO: 100
TAMANIO: 200
TAMANIO: 300
TAMANIO: 400
TAMANIO: 500
TAMANIO: 600
TAMANIO: 700
TAMANIO: 800
TAMANIO: 900
TAMANIO: 1000
TAMANIO: 1100
TAMANIO: 1200
TAMANIO: 1300
TAMANIO: 1400
TAMANIO: 1500
TAMANIO: 1600
TAMANIO: 1700
TAMANIO: 1800
TAMANIO: 1900
TAMANIO: 2000
TAMANIO: 2100
TAMANIO: 2200
TAMANIO: 2300
TAMANIO: 2400
TAMANIO: 2500
TAMANIO: 2600
TAMANIO: 2700
TAMANIO: 2800
TAMANIO: 2900
TAMANIO: 3000
TAMANIO: 3100
TAMANIO: 3200
TAMANIO: 3300
TAMANIO: 3400
TAMANIO: 3500
TAMANIO: 3600
TAMANIO: 3700
TAMANIO: 3800
TAMANIO: 3900
TAMANIO: 4000
TAMANIO: 4100
TAMANIO: 4200
TAMANIO: 4300
TAMANIO: 4400
TAMANIO: 4500
TAMANIO: 4600
TAMANIO: 4700
TAMANIO: 4800
TAMANIO: 4900
TAMANIO: 5000
TAMANIO: 5100
TAMANIO: 5200
TAMANIO: 5300
TAMANIO: 5400
TAMANIO: 5500
TAMANIO: 5600
TAMANIO: 5700
TAMANIO: 5800
TAMANIO: 5900
TAMANIO: 6000
TAMANIO: 6100
TAMANIO: 6200
TAMANIO: 6300
TAMANIO: 6400
TAMANIO: 6500
TAMANIO: 6600
TAMANIO: 6700
TAMANIO: 6800
TAMANIO: 6900
TAMANIO: 7000
TAMANIO: 7100
TAMANIO: 7200
TAMANIO: 7300
TAMANIO: 7400
TAMANIO: 7500
TAMANIO: 7600
TAMANIO: 7700
TAMANIO: 7800
TAMANIO: 7900
TAMANIO: 8000
TAMANIO: 8100
TAMANIO: 8200
TAMANIO: 8300
TAMANIO: 8400
TAMANIO: 8500
TAMANIO: 8600
TAMANIO: 8700
TAMANIO: 8800
TAMANIO: 8900
TAMANIO: 9000
TAMANIO: 9100
TAMANIO: 9200
TAMANIO: 9300
TAMANIO: 9400
TAMANIO: 9500
TAMANIO: 9600
TAMANIO: 9700
TAMANIO: 9800
TAMANIO: 9900
TAMANIO: 10000
TAMANIO: 10100
TAMANIO: 10200
TAMANIO: 10300
TAMANIO: 10400
TAMANIO: 10500
TAMANIO: 10600
TAMANIO: 10700
TAMANIO: 10800
TAMANIO: 10900
TAMANIO: 11000
TAMANIO: 11100
TAMANIO: 11200
TAMANIO: 11300
TAMANIO: 11400
TAMANIO: 11500
TAMANIO: 11600
TAMANIO: 11700
TAMANIO: 11800
TAMANIO: 11900
TAMANIO: 12000
TAMANIO: 12100
TAMANIO: 12200
TAMANIO: 12300
TAMANIO: 12400
TAMANIO: 12500
TAMANIO: 12600
TAMANIO: 12700
TAMANIO: 12800
TAMANIO: 12900
TAMANIO: 13000
TAMANIO: 13100
TAMANIO: 13200
TAMANIO: 13300
TAMANIO: 13400
TAMANIO: 13500
TAMANIO: 13600
TAMANIO: 13700
TAMANIO: 13800
TAMANIO: 13900
TAMANIO: 14000
TAMANIO: 14100
TAMANIO: 14200
TAMANIO: 14300
TAMANIO: 14400
TAMANIO: 14500
TAMANIO: 14600
TAMANIO: 14700
TAMANIO: 14800
TAMANIO: 14900
TAMANIO: 15000
TAMANIO: 15100
TAMANIO: 15200
TAMANIO: 15300
TAMANIO: 15400
TAMANIO: 15500
TAMANIO: 15600
TAMANIO: 15700
TAMANIO: 15800
TAMANIO: 15900
TAMANIO: 16000
TAMANIO: 16100
TAMANIO: 16200
TAMANIO: 16300
TAMANIO: 16400
TAMANIO: 16500
TAMANIO: 16600
TAMANIO: 16700
TAMANIO: 16800
TAMANIO: 16900
TAMANIO: 17000
TAMANIO: 17100
TAMANIO: 17200
TAMANIO: 17300
TAMANIO: 17400
TAMANIO: 17500
TAMANIO: 17600
TAMANIO: 17700
TAMANIO: 17800
TAMANIO: 17900
TAMANIO: 18000
TAMANIO: 18100
TAMANIO: 18200
TAMANIO: 18300
TAMANIO: 18400
TAMANIO: 18500
TAMANIO: 18600
TAMANIO: 18700
TAMANIO: 18800
TAMANIO: 18900
TAMANIO: 19000
TAMANIO: 19100
TAMANIO: 19200
TAMANIO: 19300
TAMANIO: 19400
TAMANIO: 19500
TAMANIO: 19600
TAMANIO: 19700
TAMANIO: 19800
TAMANIO: 19900
TAMANIO: 20000
TAMANIO: 20100
TAMANIO: 20200
TAMANIO: 20300
TAMANIO: 20400
TAMANIO: 20500
TAMANIO: 20600
TAMANIO: 20700
TAMANIO: 20800
TAMANIO: 20900
TAMANIO: 21000
TAMANIO: 21100
TAMANIO: 21200
TAMANIO: 21300
TAMANIO: 21400
TAMANIO: 21500
TAMANIO: 21600
TAMANIO: 21700
TAMANIO: 21800
TAMANIO: 21900
TAMANIO: 22000
TAMANIO: 22100
TAMANIO: 22200
TAMANIO: 22300
TAMANIO: 22400
TAMANIO: 22500
TAMANIO: 22600
TAMANIO: 22700
TAMANIO: 22800
TAMANIO: 22900
TAMANIO: 23000
TAMANIO: 23100
TAMANIO: 23200
TAMANIO: 23300
TAMANIO: 23400
TAMANIO: 23500
TAMANIO: 23600
TAMANIO: 23700
TAMANIO: 23800
TAMANIO: 23900
TAMANIO: 24000
TAMANIO: 24100
TAMANIO: 24200
TAMANIO: 24300
TAMANIO: 24400
TAMANIO: 24500
TAMANIO: 24600
TAMANIO: 24700
TAMANIO: 24800
TAMANIO: 24900
TAMANIO: 25000
TAMANIO: 25100
TAMANIO: 25200
TAMANIO: 25300
TAMANIO: 25400
TAMANIO: 25500
TAMANIO: 25600
TAMANIO: 25700
TAMANIO: 25800
TAMANIO: 25900
TAMANIO: 26000
TAMANIO: 26100
TAMANIO: 26200
TAMANIO: 26300
TAMANIO: 26400
TAMANIO: 26500
TAMANIO: 26600
TAMANIO: 26700
TAMANIO: 26800
TAMANIO: 26900
TAMANIO: 27000
TAMANIO: 27061

In [34]:
df_backup = df.copy()

### Data exploration

Let's explore de data:

In [35]:
fields = JSONContent['result']['fields']
df_info =  pd.DataFrame()
df_info['type'] = list(map(lambda field: field['type'], fields))
df_info['id'] = list(map(lambda field: field['id'], fields))
df_info['label'] = list(map(lambda field: field['info']['label'] if 'info' in field else '', fields))
df_info['note'] = list(map(lambda field: field['info']['notes'] if 'info' in field else '', fields))
df_info

,type,id,label,note
0,int,_id,,
1,text,fecha,fecha,Fecha en la cual se registra el delito [año-me...
2,text,departamento,departamento,Departamento en el cual ocurrió el delito
3,text,municipio,municipio,Municipio en el cual ocurrió el delito
4,text,dia_semana,dia_semana,Día de la semana en la cual ocurrió el delito ...
5,text,hora,hora,Hora en la cual ocurrió el delito [00-24]
6,text,barrio,barrio,Barrio en el cual ocurrió el delito
7,text,zona,zona,"Zona en el cual ocurrió el delito [rural, urbana]"
8,text,clase_sitio,clase_sitio,Clase de sitio donde ocurrió el delito
9,text,arma_empleada,arma_empleada,Arma empleada para cometer el delito
10,text,movil_agresor,movil_agresor,Móvil del agresor para cometer el delito
11,text,movil_victima,movil_victima,Móvil de la víctima cuando se registra el delito
12,text,edad,edad,Edad de la víctima
13,text,sexo,sexo,Sexo de la víctima
14,text,estado_civil,estado_civil,Estado civil de la víctima
15,text,pais_nacimiento,pais_nacimiento,País de nacimiento de la víctima
16,text,clase_empleado,clase_empleado,Tipo de empleo de la víctima
17,text,profesion,profesion,Profesión de la víctima
18,text,escolaridad,escolaridad,Escolaridad de la víctima
19,text,codigo_dane,codigo_dane,Código DANE que corresponde al Departamento - ...
20,text,clase,clase,Clase de vehículo hurtado
21,text,marca,marca,Marca del vehículo hurtado
22,text,linea,linea,Línea del vehículo hurtado
23,text,modelo,modelo,Modelo del vehículo hurtado
24,text,color,color,Color del vehículo hurtado
25,text,cantidad,cantidad,Cantidad de afectados
26,text,anio,anio,Año en el cual ocurrió el delito
27,text,mes,mes,Mes en el cual ocurrió el delito
28,timestamp,utc_datetime,utc_datetime,Fecha y Hora en formato UTC ISO 8601
29,text,dept_code_dane,dept_code_dane,Código DANE para el Departamento
30,text,muni_code_dane,muni_code_dane,Código DANE para el Municipio
31,text,code_dane,code_dane,Código DANE para Departamento-Municipio

In [45]:
df.describe(include=np.object)

,fecha,departamento,municipio,dia_semana,hora,barrio,zona,clase_sitio,arma_empleada,movil_agresor,...,linea,modelo,color,cantidad,anio,mes,utc_datetime,dept_code_dane,muni_code_dane,code_dane
count,27061,27061,27061,27061,27061,27061,27061,27061,27061,27061,...,27061,27061,27061,27061,27061,27061,27061,27061,27061,27061
unique,3646,1,1,7,727,388,3,113,10,12,...,1016,64,72,2,10,12,25310,1,1,1
top,2019-09-11,VALLE DEL CAUCA,CALI,Miércoles,20:00:00,CIUDAD CORDOBA,URBANA,VIAS PUBLICAS,ARMA DE FUEGO,A PIE,...,SIN LINEA,2008,NEGRO,1,2019,Enero,2019-11-21T15:00:00,76,76001,76-76001
freq,22,27061,27061,4137,1084,527,26419,21534,13104,22630,...,2575,2370,12850,27057,3095,2370,6,27061,27061,27061

In [37]:
df["anio"].value_counts()

2019    3095
2016    2991
2012    2952
2010    2925
2011    2714
2015    2596
2014    2588
2017    2527
2013    2369
2018    2304
Name: anio, dtype: int64

In [38]:
df["barrio"] = df["barrio"].map(lambda barrio: 
    " ".join(barrio.split()[:-1])
)

In [49]:
(df["modelo"] == 2205).value_counts()

False    27061
Name: modelo, dtype: int64

In [40]:
df.to_csv("HURTOS_MOTOS_PRE_2020.csv")