# ¿Cuáles son las principales características que llevan a que se ROBEN UNA MOTO O UN VEHÍCULO? 
## Seguro está en los datos

### Data processing step

Let's load all the dataset:

In [33]:
import numpy as np
import pandas as pd
import requests
import json

url = "https://cali.ckan.io/api/3/action/datastore_search?q=Hurto de Motocicletas&resource_id=2291eb53-781e-4834-889d-da6e0e6296e5"
JSONContent = requests.get(url).json()

Finding the column names and the records:

In [34]:
fields = JSONContent['result']['fields']
features = list(map(lambda field: field['id'], fields))
print('Column names: \n', features)

Column names:
 ['_id', 'DEPARTAMENTO', 'MUNICIPIO', 'CODIGO DANE', 'ARMAS MEDIOS', 'MES', 'DESCRIPCION CONDUCTA', 'GENERO', 'AGRUPA EDAD PERSONA', 'CANTIDAD', 'ANIO']

In [35]:
def getDataframe(array, columnNames):
    df = pd.DataFrame()
    for column in columnNames:
        df[column]=list(map(lambda record: record[column], array))
    return df

In [36]:
records = JSONContent['result']['records']
df = getDataframe(records, features)
tamanio = len(df)
df.head()

,_id,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,MES,DESCRIPCION CONDUCTA,GENERO,AGRUPA EDAD PERSONA,CANTIDAD,ANIO
0,1651,NORTE DE SANTANDER,VILLA DEL ROSARIO,54874000,LLAVE MAESTRA,FEBRERO,ARTÍCULO 239. HURTO MOTOCICLETAS,MASCULINO,ADULTOS,1,2020
1,150,NORTE DE SANTANDER,CÚCUTA (CT),54001000,ARMA BLANCA / CORTOPUNZANTE,JUNIO,ARTÍCULO 239. HURTO MOTOCICLETAS,MASCULINO,ADULTOS,1,2020
2,145,NORTE DE SANTANDER,CÚCUTA (CT),54001000,ARMA BLANCA / CORTOPUNZANTE,ENERO,ARTÍCULO 239. HURTO MOTOCICLETAS,MASCULINO,ADULTOS,2,2020
3,148,NORTE DE SANTANDER,CÚCUTA (CT),54001000,ARMA BLANCA / CORTOPUNZANTE,MARZO,ARTÍCULO 239. HURTO MOTOCICLETAS,MASCULINO,ADULTOS,1,2020
4,1645,NORTE DE SANTANDER,VILLA DEL ROSARIO,54874000,LLAVE MAESTRA,ENERO,ARTÍCULO 239. HURTO MOTOCICLETAS,MASCULINO,ADULTOS,1,2020

Due to there are only 100 records, let's proceed to iterate to find the other ones

In [37]:
baseURL='https://cali.ckan.io'
links=JSONContent['result']['_links']
while(tamanio > 0):
    nextURL=JSONContent['result']['_links']['next']
    url = f"{baseURL}{nextURL}"
    JSONContent = requests.get(url).json()
    records = JSONContent['result']['records']
    new_df = getDataframe(records, features)
    tamanio = len(new_df)
    print('TAMANIO:', len(df))
    df = pd.concat([df, new_df])

TAMANIO: 100
TAMANIO: 200
TAMANIO: 300
TAMANIO: 400
TAMANIO: 500
TAMANIO: 600
TAMANIO: 700
TAMANIO: 800
TAMANIO: 900
TAMANIO: 1000
TAMANIO: 1100
TAMANIO: 1200
TAMANIO: 1300
TAMANIO: 1400
TAMANIO: 1500
TAMANIO: 1600
TAMANIO: 1700
TAMANIO: 1800
TAMANIO: 1900
TAMANIO: 2000
TAMANIO: 2100
TAMANIO: 2200
TAMANIO: 2297

### Data exploration

Let's explore de data:

In [60]:
fields = JSONContent['result']['fields']
df_info =  pd.DataFrame()
df_info['type'] = list(map(lambda field: field['type'], fields))
df_info['id'] = list(map(lambda field: field['id'], fields))
df_info['label'] = list(map(lambda field: field['info']['label'] if 'info' in field else '', fields))
df_info['note'] = list(map(lambda field: field['info']['notes'] if 'info' in field else '', fields))
df_info

,type,id,label,note
0,int,_id,,
1,text,DEPARTAMENTO,DEPARTAMENTO,Departamento en dónde ocurrió el delíto.
2,text,MUNICIPIO,MUNICIPIO,Municipio en dónde ocurrió el delíto.
3,numeric,CODIGO DANE,CODIGO DANE,Código DANE que identifica al Departamento y M...
4,text,ARMAS MEDIOS,ARMAS MEDIOS,Corresponde al típo de arma o medio usado dura...
5,text,MES,MES,Mes del año en el cúal ocurrió el delíto.
6,text,DESCRIPCION CONDUCTA,DESCRIPCION CONDUCTA,Corresponde al artículo que hace referencia al...
7,text,GENERO,GENERO,Corresponde al género de la persona involucrad...
8,text,AGRUPA EDAD PERSONA,AGRUPA EDAD PERSONA,Es el grupo de edad al cúal pertenece la perso...
9,numeric,CANTIDAD,CANTIDAD,¿Cantidad de involucrados en el delíto?
10,numeric,ANIO,ANIO,Año en el cúal ocurrió el delíto.

In [63]:
df['CODIGO DANE'].head()

0    54874000.0
1    54001000.0
2    54001000.0
3    54001000.0
4    54874000.0
Name: CODIGO DANE, dtype: float64

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 96
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   2297 non-null   float64
 1   DEPARTAMENTO          2297 non-null   object
 2   MUNICIPIO             2297 non-null   object
 3   CODIGO DANE           2297 non-null   float64
 4   ARMAS MEDIOS          2297 non-null   object
 5   MES                   2297 non-null   object
 6   DESCRIPCION CONDUCTA  2297 non-null   object
 7   GENERO                2297 non-null   object
 8   AGRUPA EDAD PERSONA   2297 non-null   object
 9   CANTIDAD              2297 non-null   float64
 10  ANIO                  2297 non-null   float64
dtypes: float64(4), object(7)
memory usage: 215.3+ KB

In [74]:
df.describe(include=np.object)

,DEPARTAMENTO,MUNICIPIO,ARMAS MEDIOS,MES,DESCRIPCION CONDUCTA,GENERO,AGRUPA EDAD PERSONA
count,2297,2297,2297,2297,2297,2297,2297
unique,31,471,7,6,1,3,4
top,ANTIOQUIA,CÚCUTA (CT),SIN EMPLEO DE ARMAS,ENERO,ARTÍCULO 239. HURTO MOTOCICLETAS,MASCULINO,ADULTOS
freq,400,38,1103,610,2297,1635,2273

In [93]:
df.MUNICIPIO.value_counts() 
#df[df.MUNICIPIO == 'CUCUTA'].MUNICIPIO

CÚCUTA (CT)          38
OCAÑA                32
MEDELLÍN (CT)        30
BARRANQUILLA (CT)    28
CARTAGENA (CT)       27
                     ..
SALDAÑA               1
RECETOR               1
PASCA                 1
SIMIJACA              1
TARQUI                1
Name: MUNICIPIO, Length: 471, dtype: int64